In [ ]:
#1 There are three different tables as given above. Please make three dataframe in python and save them as three .csv files. 
# From Task 2 to Task 10, use the saved .csv files only.

In [1]:
import pandas as pd

project_dataframe = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Creating the DataFrame
df = pd.DataFrame(project_dataframe)

# Converting to CSV
df.to_csv('project_data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [2]:
import pandas as pd

emplyoee_dataframe = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

# Creating DataFrame
df = pd.DataFrame(emplyoee_dataframe)

# Converting it to CSV
df.to_csv('employee_data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [3]:
import pandas as pd

seniority_level_dataframe = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation': ['2', '2', '3', '2', '3'],
    'Level': [2, 2, 3, 2, 3]
}

# Creating DataFrame
df = pd.DataFrame(seniority_level_dataframe)

# Converting it to CSV
df.to_csv('seniority_level_data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [5]:
## 2 The cost column in the dataframe “Project” has some missing values.
#Your task is to compute these missing values. Replace the missing values by running average. 
#You should use the “For” loop for this task.

import pandas as pd

# Defining the project dataframe
project_dataframe = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
}

# Creating the DataFrame
df = pd.DataFrame(project_dataframe)

# Converting 'Cost' column to numeric
df['Cost'] = pd.to_numeric(df['Cost'], errors='coerce')

# Calculating running average
running_total = 0
count = 0
running_average = []

for i, cost in enumerate(df['Cost']):
    if pd.notna(cost):
        running_total += cost
        count += 1
    running_average.append(running_total / count if count != 0 else None)

# Replacing missing values with running average
for i, cost in enumerate(df['Cost']):
    if pd.isna(cost):
        df.at[i, 'Cost'] = running_average[i]

# Setting pandas option to display the 'Cost' column without scientific notation
pd.options.display.float_format = '{:.2f}'.format

print("Updated DataFrame:")
print(df)

Updated DataFrame:
      ID     Project       Cost    Status
0   A001   Project 1 1002000.00  Finished
1   A002   Project 2 2000000.00   Ongoing
2   A003   Project 3 4500000.00  Finished
3   A004   Project 4 5500000.00   Ongoing
4   A005   Project 5 3250500.00  Finished
5   A002   Project 6  680000.00    Failed
6   A005   Project 7  400000.00  Finished
7   A003   Project 8  350000.00    Failed
8   A001   Project 9 2061714.29   Ongoing
9   A003  Project 10  300000.00  Finished
10  A001  Project 11 2000000.00    Failed
11  A004  Project 12 1000000.00   Ongoing
12  A004  Project 13 3000000.00  Finished
13  A005  Project 14  200000.00  Finished

In [6]:
#3 Split the name column in the Employee dataframe into two new columns “First Name”,
#and “LastName” and remove the older “name” column.

import pandas as pd

df = pd.read_csv('employee_data.csv')

# Splitting the "Name" column into "First Name" and "Last Name"
df[['First Name', 'Last Name']] = df['Name'].str.split(' ', n=1, expand=True)

# Dropping the original "Name" column
df.drop(columns=['Name'], inplace=True)

# Displaying the updated DataFrame with values
print("Updated DataFrame:")
print(df)

Updated DataFrame:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [7]:
#4 Join all three dataframes in one single dataframe. Name it “Final”

import pandas as pd

# Reading the updated CSV files
df_project = pd.read_csv('project_data_updated.csv')
df_employee = pd.read_csv('employee_data.csv')
df_seniority_level = pd.read_csv('seniority_level_data.csv')

# Calculating running average for the "Cost" column
running_total = 0
count = 0
running_average = []

for cost in df_project['Cost']:
    if pd.notna(cost):
        running_total += cost
        count += 1
    running_average.append(running_total / count if count != 0 else None)

# Updating missing values in the "Cost" column with running average
df_project['Cost'] = [avg if pd.isna(cost) else cost for cost, avg in zip(df_project['Cost'], running_average)]

# Splitting the "Name" column into "First Name" and "Last Name" in the employee DataFrame
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
df_employee.drop(columns=['Name'], inplace=True)

# Merging the DataFrames
final_df = pd.merge(df_project, df_employee, on='ID')
final_df = pd.merge(final_df, df_seniority_level, on='ID')

print("Final DataFrame:")
print(final_df)

Final DataFrame:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1 1002000.00  Finished      M    Paris   25       John
1   A001   Project 9 2061714.29   Ongoing      M    Paris   25       John
2   A001  Project 11 2000000.00    Failed      M    Paris   25       John
3   A002   Project 2 2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6  680000.00    Failed      F   London   27      Alice
5   A003   Project 3 4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8  350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10  300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4 5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12 1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13 3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5 3250500.00  Finished      F   Madrid   30        Amy
12  A005   Project 7  400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14  200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation  Level
0       Alter            2      2
1       Alter            2      2
2       Alter            2      2
3   Luxumberg            2      2
4   Luxumberg            2      2
5   Sabestine            3      3
6   Sabestine            3      3
7   Sabestine            3      3
8       Adgra            2      2
9       Adgra            2      2
10      Adgra            2      2
11      Johny            3      3
12      Johny            3      3
13      Johny            3      3

In [8]:
#5 Add a new bonus column in the Final dataframe. 
#Give a 5% bonus concerning project cost only to employees who have finished the projects.

# To calculate bonus based on project cost for employees who have finished the projects

import pandas as pd

df_project = pd.read_csv('project_data_updated.csv')
df_employee = pd.read_csv('employee_data.csv')
df_seniority_level = pd.read_csv('seniority_level_data.csv')

# Calculating running average for the "Cost" column
running_total = 0
count = 0
running_average = []

for cost in df_project['Cost']:
    if pd.notna(cost):
        running_total += cost
        count += 1
    running_average.append(running_total / count if count != 0 else None)

# Updating missing values in the "Cost" column with running average
df_project['Cost'] = [avg if pd.isna(cost) else cost for cost, avg in zip(df_project['Cost'], running_average)]

# Splitting the "Name" column into "First Name" and "Last Name" in the employee DataFrame
df_employee[['First Name', 'Last Name']] = df_employee['Name'].str.split(' ', n=1, expand=True)
df_employee.drop(columns=['Name'], inplace=True)

# Merging the DataFrames
final_df = pd.merge(df_project, df_employee, on='ID', how='left')  # Use 'left' join to keep all projects
final_df = pd.merge(final_df, df_seniority_level, on='ID')

# Adding a new column "Bonus" to the Final dataframe
final_df['Bonus'] = 0

# Calculating bonus for employees who have finished the projects
finished_projects_index = final_df[final_df['Status'] == 'Finished'].index  # Get index of finished projects

# Applying a 5% bonus to the project cost for finished projects using .loc to avoid SettingWithCopyWarning
final_df.loc[finished_projects_index, 'Bonus'] = final_df.loc[finished_projects_index, 'Cost'] * 0.05

print("Final DataFrame with Bonus:")
print(final_df)

Final DataFrame with Bonus:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1 1002000.00  Finished      M    Paris   25       John
1   A001   Project 9 2061714.29   Ongoing      M    Paris   25       John
2   A001  Project 11 2000000.00    Failed      M    Paris   25       John
3   A002   Project 2 2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6  680000.00    Failed      F   London   27      Alice
5   A003   Project 3 4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8  350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10  300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4 5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12 1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13 3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5 3250500.00  Finished      F   Madrid   30        Amy
12  A005   Project 7  400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14  200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation  Level   Bonus
0       Alter            2      2   50100
1       Alter            2      2       0
2       Alter            2      2       0
3   Luxumberg            2      2       0
4   Luxumberg            2      2       0
5   Sabestine            3      3  225000
6   Sabestine            3      3       0
7   Sabestine            3      3   15000
8       Adgra            2      2       0
9       Adgra            2      2       0
10      Adgra            2      2  150000
11      Johny            3      3  162525
12      Johny            3      3   20000
13      Johny            3      3   10000

In [9]:
#6  Demote the designation level by 1, whose projects have status “fail”.
#Delete the employees record whose designation level is above 4.

# Demoting the designation level by 1 for employees whose projects have status "fail"
final_df.loc[final_df['Status'] == 'Failed', 'Designation'] = final_df.loc[final_df['Status'] == 'Failed', 'Designation'] - 1

# Deleting records of employees whose designation level is above 4
final_df = final_df[final_df['Designation'] <= 4]

# Displaying the updated dataframe
print("Updated DataFrame after demoting and deleting records:")
print(final_df)

Updated DataFrame after demoting and deleting records:
      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1 1002000.00  Finished      M    Paris   25       John
1   A001   Project 9 2061714.29   Ongoing      M    Paris   25       John
2   A001  Project 11 2000000.00    Failed      M    Paris   25       John
3   A002   Project 2 2000000.00   Ongoing      F   London   27      Alice
4   A002   Project 6  680000.00    Failed      F   London   27      Alice
5   A003   Project 3 4500000.00  Finished      M   Berlin   29        Tom
6   A003   Project 8  350000.00    Failed      M   Berlin   29        Tom
7   A003  Project 10  300000.00  Finished      M   Berlin   29        Tom
8   A004   Project 4 5500000.00   Ongoing      F  Newyork   31       Nina
9   A004  Project 12 1000000.00   Ongoing      F  Newyork   31       Nina
10  A004  Project 13 3000000.00  Finished      F  Newyork   31       Nina
11  A005   Project 5 3250500.00  Finished      F   Madrid   30        Amy
12  A005   Project 7  400000.00  Finished      F   Madrid   30        Amy
13  A005  Project 14  200000.00  Finished      F   Madrid   30        Amy

    Last Name  Designation  Level   Bonus
0       Alter            2      2   50100
1       Alter            2      2       0
2       Alter            1      2       0
3   Luxumberg            2      2       0
4   Luxumberg            1      2       0
5   Sabestine            3      3  225000
6   Sabestine            2      3       0
7   Sabestine            3      3   15000
8       Adgra            2      2       0
9       Adgra            2      2       0
10      Adgra            2      2  150000
11      Johny            3      3  162525
12      Johny            3      3   20000
13      Johny            3      3   10000

In [10]:
#7 Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

# Adding "Mr." and "Mrs." based on gender to the first name column
final_df['First Name'] = final_df.apply(lambda row: 'Mr. ' + row['First Name'] if row['Gender'] == 'M' else 'Mrs. ' + row['First Name'], axis=1)

# Dropping the "Gender" column
final_df.drop(columns=['Gender'], inplace=True)

# Displaying the updated final DataFrame
print("Updated Final DataFrame:")
print(final_df)

Updated Final DataFrame:
      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1 1002000.00  Finished    Paris   25    Mr. John
1   A001   Project 9 2061714.29   Ongoing    Paris   25    Mr. John
2   A001  Project 11 2000000.00    Failed    Paris   25    Mr. John
3   A002   Project 2 2000000.00   Ongoing   London   27  Mrs. Alice
4   A002   Project 6  680000.00    Failed   London   27  Mrs. Alice
5   A003   Project 3 4500000.00  Finished   Berlin   29     Mr. Tom
6   A003   Project 8  350000.00    Failed   Berlin   29     Mr. Tom
7   A003  Project 10  300000.00  Finished   Berlin   29     Mr. Tom
8   A004   Project 4 5500000.00   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12 1000000.00   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13 3000000.00  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5 3250500.00  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7  400000.00  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14  200000.00  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation  Level   Bonus
0       Alter            2      2   50100
1       Alter            2      2       0
2       Alter            1      2       0
3   Luxumberg            2      2       0
4   Luxumberg            1      2       0
5   Sabestine            3      3  225000
6   Sabestine            2      3       0
7   Sabestine            3      3   15000
8       Adgra            2      2       0
9       Adgra            2      2       0
10      Adgra            2      2  150000
11      Johny            3      3  162525
12      Johny            3      3   20000
13      Johny            3      3   10000

In [11]:
#8 Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

for index, row in final_df.iterrows():
    # Checking if age is more than 29
    if row['Age'] > 29:
        # Promoting designation level by 1
        final_df.at[index, 'Designation'] += 1

# Displaying the updated DataFrame
print("Updated DataFrame with promoted designation level for employees above 29 years of age:")
print(final_df)

Updated DataFrame with promoted designation level for employees above 29 years of age:
      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1 1002000.00  Finished    Paris   25    Mr. John
1   A001   Project 9 2061714.29   Ongoing    Paris   25    Mr. John
2   A001  Project 11 2000000.00    Failed    Paris   25    Mr. John
3   A002   Project 2 2000000.00   Ongoing   London   27  Mrs. Alice
4   A002   Project 6  680000.00    Failed   London   27  Mrs. Alice
5   A003   Project 3 4500000.00  Finished   Berlin   29     Mr. Tom
6   A003   Project 8  350000.00    Failed   Berlin   29     Mr. Tom
7   A003  Project 10  300000.00  Finished   Berlin   29     Mr. Tom
8   A004   Project 4 5500000.00   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12 1000000.00   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13 3000000.00  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5 3250500.00  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7  400000.00  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14  200000.00  Finished   Madrid   30    Mrs. Amy

    Last Name  Designation  Level   Bonus
0       Alter            2      2   50100
1       Alter            2      2       0
2       Alter            1      2       0
3   Luxumberg            2      2       0
4   Luxumberg            1      2       0
5   Sabestine            3      3  225000
6   Sabestine            2      3       0
7   Sabestine            3      3   15000
8       Adgra            3      2       0
9       Adgra            3      2       0
10      Adgra            3      2  150000
11      Johny            4      3  162525
12      Johny            4      3   20000
13      Johny            4      3   10000

In [12]:
#9 Add the cost of all projects for each Employee and save it in new dataframe
#“TotalProjCost” with three columns ID, First Name, and Total cost 

# Grouping by ID and First Name, then sum the cost for each employee
total_project_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Renaming the 'Cost' column to 'Total cost'
total_project_cost.rename(columns={'Cost': 'Total cost'}, inplace=True)

# Displaying the new DataFrame
print("DataFrame 'TotalProjectCost' with total project cost for each employee:")
print(total_project_cost)

DataFrame 'TotalProjectCost' with total project cost for each employee:
     ID  First Name  Total cost
0  A001    Mr. John  5063714.29
1  A002  Mrs. Alice  2680000.00
2  A003     Mr. Tom  5150000.00
3  A004   Mrs. Nina  9500000.00
4  A005    Mrs. Amy  3850500.00

In [13]:
#10 Print all the employee details whose city name contains the letter “o” in it.

# Filtering the DataFrame to select rows where the city name contains the letter "o"
employees_with_o_city = df_employee[df_employee['City'].str.contains('o', case=False)]

# Printing the details of employees with cities containing the letter "o"
print("Employee details whose city name contains the letter 'o':")
print(employees_with_o_city)

Employee details whose city name contains the letter 'o':
     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra